<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanyafeng.orlitedemo">

    <application
        android:name=".app.MyLitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LitePalActivity"
            android:label="@string/title_activity_lite_pal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recycleview.activity.MyRecycleViewActivity"
            android:label="@string/title_activity_my_recycle_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FolderActivity"
            android:label="@string/title_activity_folder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BlurActivity"
            android:label="@string/title_activity_blur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProgressBarActivity"
            android:label="@string/title_activity_progress_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CircleLoadingActivity"
            android:label="@string/title_activity_circle_loading"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SpeedCircleViewActivity"
            android:label="@string/title_activity_speed_circle_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CloudActivity"
            android:label="@string/title_activity_cloud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PorterDuffActivity"
            android:label="@string/title_activity_porter_duff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopupWindowActivity"
            android:label="@string/title_activity_popup_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PolygonActivity"
            android:label="@string/title_activity_polygon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BezierActivity"
            android:label="@string/title_activity_bezier"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.OrmliteActivity"
            android:label="@string/title_activity_ormlite"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>